.browse-btn {
  border-radius: 34.777px;
  background: #148a08;
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 23.526px;
  font-style: normal;
  font-weight: 500;
  line-height: 92.2%; /* 21.691px */
  letter-spacing: 0.471px;
}
.item1 {
  grid-area: p;
}
.item2 {
  grid-area: w;
}
.item3 {
  grid-area: all;
}
.item4 {
  grid-area: t;
}
.item5 {
  grid-area: n;
}
.home-page-grid {
  display: grid;
  row-gap: 1rem;
  grid-template-columns: 33% 33% auto;
  /* column-gap: 2rem; */
  grid-template-areas:
    "p all n"
    "w all n"
    "t t n";
  gap: 2rem;
}
.home-page-grid > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
  border-radius: 1.5rem;
}
