.profile-box {
  border-radius: 1.25rem;
  background: #5746ea;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
}
.cat-index-wrapp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  height: 90px;
  overflow-y: scroll;
  padding-right: 1rem;
  margin-top: 4rem;
}
.cat-index-wrapp li {
  list-style: none;
}
.cat-index-wrapp li div {
  border-radius: 2rem;
  background: #9f94ff;
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 105.688%; /* 16.91px */
  letter-spacing: 0.32px;
  padding: 1rem 1.5rem;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #579be9;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #579be9;
}

.profile-img img {
  width: 100px;
}
.profile-box .right-content {
  text-align: start;
}
.profile-box .right-content h1 {
  color: #fff;
  font-family: sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 103.188%; /* 21.669px */
  letter-spacing: 0.42px;
  margin-bottom: 1rem;
}
.profile-box .right-content h2 {
  color: #fff;
  font-family: sans-serif;
  font-size: 41px;
  font-style: normal;
  font-weight: 500;
  line-height: 66.188%; /* 27.137px */
  letter-spacing: 0.82px;
  margin-bottom: 1rem;
}
